<article>
  <div class="container-influencer">
    <div class="title-influencer">
      TADAGENICとは？
    </div>
    <div class="explain-influencer explain-influencer-top">
      TADAGENICはタダでフォトジェニックな商品が<br />
      もらえるアプリです。詳しくは<span><%= link_to "こちら", tops_path %></span>をご覧下さい。
    </div>
    <div class="link-top-influencer">
      「TADAGENIC」の説明は<span><%= link_to "こちら", tops_path %></span>
    </div>
    <div class="title-influencer">
      キャスティング
    </div>
    <div class="explain-influencer">
      TADAGENICではインフルエンサーの方向けで<br />
      モバイルアプリでは賄えないメディア等への<br />
      出演やPR投稿の案件のキャスティングも<br />
      行っています。
    </div>
    <div class="title-influencer">
      商品企画
    </div>
    <div class="explain-influencer">
      TADAGENICではデータを生かした商品企画<br />
      を行います。商品企画に参加頂くと<br />
      報酬をお支払い致します。自社ブランドを<br />
      立ち上げる、または立ち上げておられる<br />
      方にとってはプロと一緒に商品を企画する<br />
      非常に良い経験となります。<br />
      報酬の詳細はご相談頂く事が可能です。
    </div>
    <div class="title-influencer">
      イベント
    </div>
    <div class="explain-influencer event-explain">
      TADAGENICではユーザーやインフルエンサー<br />
      の方をお呼びするフォトジェニックなイベント<br />
      を開催します。こちらも参加頂くと<br />
      報酬をお支払い致します。報酬の詳細は<br />
      ご相談頂く事が可能です。
    </div>
    <div class="signup-button-company">
     登録する
    </div>
  </div>
</article>
