  <div class="container">
    <%= image_tag "thanks-web.svg", class: "thanks-web"%>
    <%= image_tag "thanks-ipad.svg",  class: "thanks-ipad"%>
    <%= image_tag "thanks-iphone.svg", class: "thanks-iphone"%>
    <%= link_to image_tag('BackButton.svg', { class: "backButton"}), tops_path %>
  </div>
