//create後のデザイン
a{
  text-decoration: none;
}
.container-thanks{
  padding: 100px 300px;

}
.thanks-ipad{
  display: none;
}
.thanks-iphone{
  display: none;
}
.thanks-web{
  width: 100%;
}
.backButton{
  width: 15%;
  float: right;
  margin-top: 20px;
}

@media(max-width: 1024px){

  .thanks-web{
    display: none;
  }
  .thanks-ipad{
    display: block;
  }
  .container-thanks{
    padding: 300px 15px;
  }
  .backButton{
    width:20%;
  }

}

@media(max-width: 670px){

  .thanks-ipad{
    display: none;
  }
  .thanks-iphone{
    display: block;
  }
  .container-thanks{
    padding: 100px 50px;
  }
  .backButton{
    width: 30%;
    margin-top: 10px;
  }

}


// basicデザイン
*{
  box-sizing: border-box;
}
a{
  color:#000;
  text-decoration: none;
}

li{
  list-style:none;
}
body{
  margin:0px;
  padding: 0px;
}
.main-img-ios{
  display: none;
}
.clear{
  clear: left;
}
.container{
padding: 0 200px;
}
.container-web{
  display: display;
}

.container-ios{
  display: none;
}
.container-top{
  padding: 0 85px;
}
/*ヘッダー*/
.close-button{
  display: none;
}
.open-button{
  display: none;
}
.menu-bar{
  display: none;
}
.logo-img{
  margin: 30px 30px 20px 30px;
  width: 220px;
}
.header-right{
  float: right;
  margin-right: 85px;
  font-size: 18px;
}
.header-right li{
  font-size: 15px;
  float: left;
  padding: 20px;
  margin-top: 25px;
}
/*メイン画像*/
.top-wrapper{
  position: relative;
}
.main-img{
  width:100%;
}
.company-link{
  position: absolute;
  bottom: 250px;
  left: 170px;
  color: white;
  font-size: 15px;
  border: 3px solid #ffffff;
  border-radius: 60px;
  padding:5px 130px;
  margin-bottom: 10px;
}
.influencer-link{
  position: absolute;
  bottom: 200px;
  left: 170px;
  color: white;
  font-size: 15px;
  border: 3px solid #ffffff;
  border-radius: 60px;
  padding:5px 85px;
  margin-bottom: 10px;
}
.pre-signUp{
  position: absolute;
  bottom: 120px;
  left: 170px;
  color: white;
  font-size: 30px;
  border: 3px solid #ffffff;
  border-radius: 60px;
  padding:3px 100px;
}
.pre-signUp:hover{
    color: #777;
    background:#eaeaea;
}
// formのjsのcss
.sign_up1{
  position: absolute;
  bottom: 250px;
  left: 170px;
  color: white;
  background-color: transparent;
  font-size: 20px;
  border: 3px solid #ffffff;
  border-radius: 60px;
  padding:3px 100px;
}
.sign_up1::-webkit-input-placeholder{
  color: white;
}
.sign_up2{
  position: absolute;
  bottom: 210px;
  left: 170px;
  color: white;
  background-color: transparent;
  font-size: 20px;
  border: 3px solid #ffffff;
  border-radius: 60px;
  padding:3px 100px;
}
.sign_up2::-webkit-input-placeholder{
  color: white;
}
.sign_up3{
  position: absolute;
  bottom: 170px;
  left: 170px;
  color: white;
  background-color: transparent;
  font-size: 20px;
  border: 3px solid #ffffff;
  border-radius: 60px;
  padding:3px 100px;
}
.sign_up3::-webkit-input-placeholder{
  color: white;
}
.submit{
  position: absolute;
  bottom: 115px;
  left: 170px;
  color: white;
  background-color: transparent;
  font-size: 20px;
  border: 3px solid #ffffff;
  border-radius: 60px;
  padding:3px 100px;
}
.submit:hover{
  color: #777;
  border-radius: 60px;
  background:#eaeaea;
}
.explain-pre-signUp{
  color: #ffffff;
  position: absolute;
  bottom: 90px;
  left: 185px;
  font-size: 15px;
}
/*ただジェニックとは？*/
.title{
  font-family:"SignPainter",sans-serif;
  font-size: 60px;
  padding:  250px 0 30px 0;
  text-align: center;
}
.explain-text{
  font-size: 20px;
  text-align: center;
  padding-bottom: 50px;
}
.first-explain{
  padding-bottom: 0;
}
/*使い方*/
.second-explain{
  padding-bottom: 50px;

}
.second-explain li{
  float: left;
  width: 33.33%
}
.left-end{
  text-align: center;
  position: relative;
  right: 20px;
}
.middle{
  text-align: center;
}
.right-end{
text-align: center;
position: relative;
left: 20px;
}
.how-to-img{
  margin-top: 30px;
}
.how-to-img img{
float: left;
padding:0 20px;
}
.arrow{
  width:10%;
  position: relative;
  top: 120px;
}
.arrow-2{
  width:10%;
  position: relative;
  top: 107px;
}
.hand-phone{
  width:30%;
}
.ios-preview{
  width:20%;
  position: relative;
  bottom: 30px;
}
.giftBox{
  width:30%;
}

.to-get-img{
  width:100%;
}
.to-get-img-ios{
  display: none;
}
.how-to-img-ios{
  display: none;
}
.example-goods{
  margin-bottom: 200px;
}
.goods-img-web{
  width:100%;
}
.goods-img-ios{
  display: none;
}
.quotation{
  float:right;
}
.pre-signup-button-ipad{
  display: none;
}
.pre-signup-button{
  display: none;
}
.pre-signup-button-web{
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-bottom:50px;
  cursor: pointer;
}
.border{
  border-top: 1px solid #525252;
}
.footer-logo{
  margin: 30px 30px 20px 30px;
  width: 220px;
}
.footer-link-1 li{
  float: left;
  padding: 30px 20px 0 100px;
}
.footer-link-2 li{
  float: left;
  padding: 30px 5px 50px 100px;
}
.tadagenicInc{
  float:right;
  margin: 0 15px 10px 0;
  color: #666666;
  font-size: 12px;
}

// ##フラッシュメッセージ
.flash-message-alert{
  background-color: #d65f4c;
  height: 40px;
  color: white;
  font-size: 20px;
  text-align: center;
}

// レスポンスデザイン

// webやipadのレスポンス
@media(max-width: 1024px){
  .modal-bg {
    display:none;
    width:100%;
    height:100%;
    background: white;
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
  }
  .open-button{
    display: block;
    position: absolute;
    font-size: 25px;
    top: 15px;
    right:30px;
    width:25px;
  }
  .close-button{
    display: block;
   position: absolute;
   font-size: 40px;
   top: 0px;
   right:20px;
   z-index: 3;
  }
 .menu-bar{
   position:fixed;
   right: 0;
   display: none;
   z-index: 3;
   width: 92%;
   height: 100%;
   background: white;
 }
 .menu-title{
   color: #000000;
   font-family:"SignPainter",sans-serif;
   padding: 60px 0 60px 0;
   text-align: center;
   font-size: 50px;
 }
 .menu-bar li{
   font-size: 25px;
   margin: 10px 30px 40px 30px;
   border-bottom: 1px solid #999999;
 }
  .container{
    padding:0 50px;
  }
  .container-web{
    display: display;
    position: relative;
    top:30px;
  }

  .container-ios{
    display: none;
  }
  .container-top{
    padding: 0 25px;
  }
  .logo-img{
    width:150px;
    display: block;
    margin: 0 auto;
    padding:10px 0 5px 0;
  }
  .header-right{
    display: none;
  }
  .company-link{
    bottom: 160px;
    left: 120px;
    font-size: 12px;
    padding: 5px 90px;
  }
  .influencer-link{
    bottom: 120px;
    left: 120px;
    font-size: 12px;
    padding: 5px 55px;
  }
  .pre-signUp{
    bottom: 70px;
    left: 120px;
    font-size: 20px;
  }
  .pre-signUp:hover{
    color: #777;
    background:#eaeaea;
  }
  .sign_up1{
    position: absolute;
    bottom: 200px;
    left: 120px;
    color: white;
    background-color: transparent;
    font-size: 15px;
    border: 3px solid #ffffff;
    border-radius: 60px;
    padding:3px 100px;
  }
  .sign_up1::-webkit-input-placeholder{
    color: white;
  }
  .sign_up2{
    position: absolute;
    bottom: 160px;
    left: 120px;
    color: white;
    background-color: transparent;
    font-size: 15px;
    border: 3px solid #ffffff;
    border-radius: 60px;
    padding:3px 100px;
  }
  .sign_up2::-webkit-input-placeholder{
    color: white;
  }
  .sign_up3{
    position: absolute;
    bottom: 120px;
    left: 120px;
    color: white;
    background-color: transparent;
    font-size: 15px;
    border: 3px solid #ffffff;
    border-radius: 60px;
    padding:3px 100px;
  }
  .sign_up3::-webkit-input-placeholder{
    color: white;
  }
  .submit{
    position: absolute;
    bottom: 70px;
    left: 120px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    border: 3px solid #ffffff;
    border-radius: 60px;
    padding:3px 100px;
  }
  .submit:hover{
    color: #777;
    background:#eaeaea;
    border-radius: 60px;
  }
  .explain-pre-signUp{
    bottom: 40px;
    left: 130px;
    font-size: 10px;
  }
  .br::before {
    content: "\A" ;
    white-space: pre ;
  }
  .title{
    font-size: 30px;
    padding: 150px 0 20px 0;
  }
  .explain-text{
    font-size: 15px;
  }
  .left-end{
    right:5px;
  }
  .right-end{
    left:10px;
  }
  .arrow{
    width:12%;
    position: relative;
    top: 80px;
  }
  .arrow-2{
    width:12%;
    position: relative;
    top: 65px;
  }
  .how-to-img{
    margin:0;
  }
  .how-to-img img{
  float: left;
  padding:0 10px;
  }
  .hand-phone{
    width:30%;
  }
  .ios-preview{
    width:15%;
    position: relative;
    top: 10px;
  }
  .giftBox{
    width:30%;
  }
  .to-get-img{
    padding: 40px 80px;
  }
  .pre-signup-button-ipad{
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .pre-signup-button{
    display: none;
  }
  .pre-signup-button-web{
    display: none;
  }
  .footer-logo{
    width:150px;
  }

    // ##フラッシュメッセージ
  .flash-message-alert{
    background-color: #d65f4c;
    height: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
  }


}

@media (max-width: 670px) {
    .modal-bg {
    　display:none;
    　width:100%;
    　height:100%;
    　background-color: #000000;
    　position:fixed;
    　top:0;
    　left:0;
    　z-index: 1;
    }
    .open-button{
      display: block;
      position: absolute;
      font-size: 25px;
      top: 10px;
      right:10px;
      width:20px;
    }
    .close-button{
      display: block;
     position: absolute;
     font-size: 30px;
     top: 0px;
     right:10px;
     z-index: 3;
    }
   .menu-bar{
     background-color: #ffffff;
     position:fixed;
     right: 0;
     display: none;
     z-index: 3;
     width: 90%;
     height: 100%;
   }
   .menu-title{
     color: #000000;
     font-family:"SignPainter",sans-serif;
     padding: 30px 0 30px 0;
     text-align: center;
     font-size: 30px;
   }
   .menu-bar li{
     font-size: 15px;
     margin: 10px 10px 20px 10px;
     border-bottom: 1px solid #999999
   }
   .header-right{
    display: none;
  }
  .logo-img{
    width: 100px;
    display:block;
    margin: 0 auto;
    padding:10px 0 5px 0;
  }
  .container-top{
    padding: 0;
  }
  .container-web{
    display: none;
  }

  .container-ios{
  padding: 100px;
  display: block;
  }

  .container{
    padding: 60px;
  }
  .main-img{
    display: none;
  }
  .main-img-ios{
    display: block;
    width: 100%;
  }
  .influencer-link{
    font-size: 10px;
    font-weight: bold;
    bottom: 200px;
    left:10px;
    border: 3px solid #ffffff;
    padding:10px 20px;
  }
  .company-link{
    font-size: 10px;
    font-weight: bold;
    bottom: 250px;
    left:10px;
    border: 3px solid #ffffff;
    padding:10px 50px
  }
  .pre-signUp{
    font-size: 20px;
    font-weight: bold;
    bottom: 50px;
    left: 95px;
    border: 3px solid #ffffff;
    padding:10px 40px;
  }
  .pre-signUp:hover{
    color: #777;
    background:#eaeaea;
  }
// formのcss
  .sign_up1{
    font-size: 15px;
    bottom: 140px;
    position: absolute;
    left: 15%;
    color: #525252;
    border: 3px solid #525252;
    padding: 5px 50px;
  }

  .sign_up1::-webkit-input-placeholder{
    color: #777777;
  }
  .sign_up2{
    font-size: 15px;
    color: #525252;
    bottom: 100px;
    position: absolute;
    left: 15%;
    border: 3px solid #525252;
    padding: 5px 50px;
  }
  .sign_up2::-webkit-input-placeholder{
    color: #777777;
  }
  .sign_up3{
    font-size: 15px;
    color: #525252;
    bottom: 60px;
    position: absolute;
    left: 15%;
    background-color: transparent;
    border: 3px solid #525252;
    padding: 5px 50px;
  }
  .sign_up3::-webkit-input-placeholder{
    color: #777777;
  }
  .submit{
    bottom: -20px;
    position: absolute;
    left: 15%;
    border: 3px solid #525252;
    padding:5px 114px;
    color: #525252;
  }
  .submit:hover{
    color: white;
    border-radius: 60px;
    background: #525252;
  }
  .explain-pre-signUp{
    bottom: 2px;
  text-align: center;
    font-size: 10px;
  }
  .br-2::before{
    content: "\A" ;
    white-space: pre ;
  }
  .title{
    padding: 150px 0 20px 0;
  }
  .arrow{
    display: none;
  }
  .arrow-2{
    display: none;
  }
  .second-explain{
    display: none;
  }
  .second-explain li{
    display: none;
  }
  .how-to-img-ios{
    display: block;
    margin: 0 auto;
    width:70%;
  }
  .how-to-img{
    display: none;
  }
  .how-to-img img{
    display: none;
  }
  .to-get-img{
    display: none;
  }
  .to-get-img-ios{
    width: 60%;
    display: block;
    margin: 0 auto;
  }
  .example-goods{
    margin-bottom: 150px;
  }
  .goods-img-web{
    display: none;
  }
  .goods-img-ios{
    display: block;
    width:60%;
    margin: 0 auto;
  }
  .quotation{
    float: none;
    text-align: center;
    font-size: 12px;
  }
  .pre-signup-button-ipad{
    display: none;
  }
  .pre-signup-button{
    display: block;
    margin: 0 auto;
    padding: 30px 0;
  }
  .pre-signup-button-web{
    display:none;
  }
  .footer-link-1 li{
    font-size: 14px;
    padding:10px 200px 0 40px;
  }
  .footer-link-2 li{
    font-size: 14px;
    padding:5px 110px 25px 40px;
  }

  // ##フラッシュメッセージ

.flash-message-alert{
  background-color: #d65f4c;
  height: 40px;
  color: white;
  font-size: 20px;
  text-align: center;
}

}

//aboutページ
.container-about{
  padding: 0 300px;
  text-align: center;
}
.top-about{
width: 100%;
}
.container-top-about{
  padding: 0;
}
.our-vision div{
  margin-bottom: 20px;
}
.title-about{
  font-family:"SignPainter",sans-serif;
  font-size: 60px;
  padding: 200px 0 10px 0;
}
.vision{
  font-weight: bold;
  font-size: 30px;
}
.company-title{
  font-weight: bold;
  padding-right: 20px;
}
.company-detail{
  width: 420px;
  margin: 0 auto;
  position: relative;
  left: 30px;
  font-size: 20px;
}
.company-detail div{
  padding-top: 20px;
  float: left;
}
.contact{
  margin-bottom:200px;
}
.e-mail{
  padding-top: 10px;
  font-size: 25px;
}

@media (max-width: 1024px) {

  .container-about{
    padding: 0 30px;
  }
  .title-about{
    font-size: 50px;
    padding: 150px 0 10px 0;
  }
  .vision{
    font-size: 20px;
  }
  .vision-explain{
    font-size: 15px;
  }
  .company-detail{
    left: 16px;
    width:400px;
    font-size: 18px;
  }
  .e-mail{
    font-size: 25px;
  }
  .contact{
    margin-bottom: 150px;
  }


}

@media (max-width: 670px) {
  .container-about{
    padding: 0 30px;
  }
  .title-about{
    font-size: 30px;
    padding: 150px 0 10px 0;
  }
  .vision{
    font-size: 18px;
  }
  .vision-explain{
    font-size: 12px;
  }
  .company-detail{
    left: 16px;
    width:280px;
    font-size: 13px;
  }
  .e-mail{
    font-size: 18px;
  }
  .contact{
    margin-bottom: 150px;
  }

}

//companyページ
.friend-data-ios{
  display: none;
}
.container-top-company-ios{
  display: none;
}
.three-img{
  display: none;
}
.fee-three-ios{
  display: none;
}
.logo-img-white{
  margin: 20px 30px 20px 30px;
  width: 220px;
}
.header-right-white{
  margin-right: 10px;
  float: right;
  font-size: 18px;
}
.header-right-white li{
  float: left;
  padding: 20px;
  margin-top: 10px;
}
.header-right-white a{
  color: #ffffff;
  font-family:'Helvetica Neue',sans-serif;
  font-size: 15px;
}
.signup-button-company-white{
  color: #ffffff;
  text-align: center;
  padding: 10px 100px;
  border: 2px solid #ffffff;
  width:600px;
  margin: 0 auto;
  font-weight: bold;
  position: relative;
  top: 550px;
  display: block;
}
.signup-button-company-white:hover{
  color: #777;
  background:#eaeaea;
}
.company-form{
  background-color: transparent;
  text-align: center;
  padding: 10px 50px;
  color: white;
  border: 2px solid #ffffff;
  width: 400px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: bold;
  position: relative;
  top: 350px;
  border-radius: 60px;
  display: block;
}
.company-form-submit{
  background-color: transparent;
  text-align: center;
  padding: 10px 100px;
  border: 2px solid #ffffff;
  width: 450px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 5px;
  font-weight: bold;
  position: relative;
  top: 400px;
  border-radius: 60px;
  display: block;
  color: white;
}

.company-form-submit:hover{
  color: #777;
  background:#eaeaea;
}

.company-form::-webkit-input-placeholder{
  color: white;
}

.container-top-company{
  padding: 0;
  background-image: image-url("top-img-company");
  background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
  height:800px;
  width: 100%;
}
.container-company{
  padding: 150px 200px;
}
.title-company{
  font-family: 'ヒラギノ角ゴ Std','Hiragino Kaku Gothic Std', sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}
.company-explain{
  font-size: 18px;
  text-align: center;
  padding-bottom: 30px;
}
.link-top{
  text-align: center;
  margin-bottom: 100px;
}
.link-top span{
  font-weight: bold;
}

.company-explain-img{
  width: 750px;
  margin: 0 auto;
}
.online-img{
  width:80px;
  margin-right:230px;
}
.target-img{
  width:90px;
  margin-right: 240px;
}
.data-img{
  position: relative;
  top: 10px;
  width:90px;
}
.three-explain{
  width:760px;
  margin: 0 auto;
}
.three-explain li {
  text-align: center;
  float: left;
}
.online-explain{
  font-size: 15px;
  padding-top: 20px;
  position: relative;
  right: 60px;
}
.target-explain{
  position: relative;
  left: 20px;
  padding-top: 20px;
}
.data-explain{
  position: relative;
  left: 80px;
  padding-top: 20px;
}
.friend-data-wrapper{
  width: 100%;
  background-color: #F5F5F5;
  padding:100px 200px;
  margin-bottom: 150px;
}
.title-friend{
  font-size: 35px;
}
.friend-explain{
  text-align: center;
  padding-top: 20px;
}
.friend-data{
  width:50%;
  display: block;
  margin: 0 auto;
  padding-top: 100px;
}
.fee-wrapper{
  margin-bottom: 150px;
}
.fee-explain{
  padding-top: 20px;
  text-align: center;
}
.fee-three{
  width: 50%;
  display: block;
  margin:  0 auto;
  padding: 60px 0;
}
.fee-table{
  width: 40%;
  display: block;
  margin: 0 auto;
}
.post-wrapper{
  width: 100%;
  background-color: #F5F5F5;
  padding:100px 200px;
  margin-bottom: 150px;
}
.post-explain{
  text-align: center;
  padding-top: 30px;
}
.signup-button-company{
  text-align: center;
  padding: 10px 100px;
  border: 2px solid #000000;
  width:600px;
  margin: 0 auto;
  margin-bottom: 150px;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .container-top-company{
    height:450px;
  }
  .header-right-white{
    display: none;
  }
  .logo-img-white{
    display: block;
    margin: 0 auto;
    width:150px;
    padding-top: 12px;
  }
  .signup-button-company-white{
    position: relative;
    top:330px;
    padding: 5px 60px;
    width:400px;
  }
  .title-company{
    font-size: 25px;
  }

  .three-explain{
    width:600px;

  }
  .three-explain li{
    font-size: 12px;
  }
  .company-explain-img{
    width: 600px;
  }

  .target-img{
    width:70px;
    margin-right: 180px;
  }
  .online-img{
    width:60px;
    margin-right: 180px;
  }
  .data-img{
    width: 70px;
  }
  .signup-button-company{
    width: 300px;
    padding: 5px 50px;
  }
  .container-company{
    padding: 150px 50px;
  }
  .friend-data-wrapper{
    padding: 100px 50px;
    margin-bottom: 100px;
  }
  .post-wrapper{
    padding: 150px 60px;
  }
  .company-explain{
    font-size: 15px;
  }
  .link-top{
    font-size: 13px;
  }

  .friend-data{
    width:60%;
    padding-top: 60px;
  }

  .friend-explain{
    font-size: 14px;
  }
  .fee-explain{
    font-size: 12px;
  }
  .fee-wrapper{
    margin-bottom: 100px;
  }
  .fee-three{
    width: 70%;
  }
  .fee-table{
    width: 60%;
  }
  .post-explain{
    font-size: 14px;
  }
}

@media (max-width: 670px) {
  .logo-img-white{
    display: block;
    margin: 0 auto;
    width:110px;
    padding-top: 12px;
  }
  .container-top-company{
    display: none;
  }
  .container-top-company-ios{
    display: block;
    padding: 0;
    background-image: image-url("company-top-img-ios");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height:680px;
    width: 100%;

  }
  .signup-button-company-white{
    width: 300px;
    padding: 5px 50px;
    top: 550px;
  }
  .title-company{
    font-size: 18px;
  }

  .three-explain{
    display: none;
  }
  .company-explain-img{
    display: none;
  }
  .signup-button-company{
    width: 300px;
    padding: 5px 50px;
  }
  .company-form{
  background-color: transparent;
  text-align: center;
  padding: 5px 50px;
  border: 2px solid #ffffff;
  width: 300px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: bold;
  position: relative;
  top: 400px;
  border-radius: 60px;
  display: block;
}
.company-form-submit{
  background-color: transparent;
  text-align: center;
  padding: 5px 50px;
  border: 2px solid #ffffff;
  width: 300px;
  font-size: 15px;
  margin: 0 auto;
  font-weight: bold;
  position: relative;
  top: 430px;
  border-radius: 60px;
  display: block;
  color: white;
}

.company-form-submit:hover{
  color: #777;
  background:#eaeaea;
}

.company-form::-webkit-input-placeholder{
  color: white;
}
  .container-company{
    padding: 150px 50px;
  }
  .friend-data-wrapper{
    padding: 100px 50px;
    margin-bottom: 100px;
  }
  .post-wrapper{
    padding: 150px 60px;
  }
  .company-explain{
    font-size: 12px;
  }
  .link-top{
    font-size: 12px;
  }
  .three-img{
    display: block;
  }
  .friend-data{
    display: none;
  }
  .friend-data-ios{
    display: block;
    padding-top: 50px;
    width: 60%;
    margin: 0 auto;
  }
  .friend-explain{
    font-size: 12px;
  }
  .fee-explain{
    font-size: 12px;
  }
  .fee-wrapper{
    margin-bottom: 100px;
  }
  .fee-three{
    display: none;
  }
  .fee-three-ios{
    display: block;
    width: 30%;
    margin: 50px auto;
  }
  .fee-table{
    width: 90%;
  }
  .post-explain{
    font-size: 13px;
  }
}

//influencerページ
.container-top-influencer-ios{
  display: none;
}
.container-top-influencer{
  padding: 0;
  background-image: image-url("top-img-influencer");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:800px;
  width: 100%;
}
.signup-button-influencer-white{
  color: #ffffff;
  text-align: center;
  padding: 10px 100px;
  border: 2px solid #ffffff;
  width:600px;
  margin: 0 auto;
  font-weight: bold;
  position: relative;
  top: 550px;
  display: block;
}

.signup-button-influencer-white:hover{
  color: #777;
  background:#eaeaea;
}

.influencer-form{
  background-color: transparent;
  text-align: center;
  padding: 5px 50px;
  color: white;
  border: 2px solid #ffffff;
  width: 450px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: bold;
  position: relative;
  top: 400px;
  border-radius: 60px;
  display: block;
}

.influencer-form-submit{
  background-color: transparent;
  text-align: center;
  padding: 10px 50px;
  color: white;
  border: 2px solid #ffffff;
  width: 600px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: bold;
  position: relative;
  top: 430px;
  border-radius: 60px;
  display: block;
}
.influencer-form-submit:hover{
  color: #777;
  background:#eaeaea;
}
.influencer-form::-webkit-input-placeholder{
  color: white;
}
.influencer-form-submit::-webkit-input-placeholder{
  color: white;
}
.title-influencer{
  font-family: 'ヒラギノ角ゴ Std','Hiragino Kaku Gothic Std', sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 280px;
}
.explain-influencer{
  text-align: center;
  padding-top: 10px;
}
.event-explain{
  margin-bottom: 280px;
}
.explain-influencer-top{
  margin-bottom: 15px;
}
.explain-influencer-top span{
  font-weight: bold;
}
.link-top-influencer{
  text-align: center;
}
.link-top-influencer span{
  font-weight: bold;
}
.signup-button-influencer{
  text-align: center;
  padding: 10px 100px;
  border: 2px solid #000000;
  width:600px;
  margin: 0 auto;
  margin-bottom: 280px;
  font-weight: bold;
}
@media (max-width: 1024px){
  .container-top-influencer{
    height: 450px;
  }
  .title-influencer{
    font-size: 25px;
  }

}
@media (max-width: 670px){
  .title-influencer{
    font-size: 18px;
    padding-top: 200px;
  }
  .explain-influencer{
    font-size: 14px;
  }
  .link-top-influencer{
    font-size: 12px;
  }
  .signup-button-influencer{
    width:300px;
  }
  .container-top-influencer{
    display:none;
  }
  .container-top-influencer-ios{
    display: block;
    padding: 0;
    background-image: image-url("top-img-influencer-ios");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height:680px;
    width: 100%;
  }
  .signup-button-influencer-white{
    width: 300px;
    padding: 5px 50px;
    top: 550px;
  }
  .signup-button-influencer{
    width: 300px;
    padding: 5px 50px;
    margin-bottom: 200px;
  }

  .influencer-form{
  background-color: transparent;
  text-align: center;
  padding: 5px 50px;
  border: 2px solid #ffffff;
  width: 300px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: bold;
  position: relative;
  top: 400px;
  border-radius: 60px;
  display: block;
}

.influencer-form-submit{
  background-color: transparent;
  text-align: center;
  padding: 5px 50px;
  border: 2px solid #ffffff;
  width: 300px;
  font-size: 15px;
  margin: 0 auto;
  font-weight: bold;
  position: relative;
  top: 425px;
  border-radius: 60px;
  display: block;
}
.influencer-form-submit:hover{
  color: #777;
  background:#eaeaea;
}
.influencer-form::-webkit-input-placeholder{
  color: white;
}
.influencer-form-submit::-webkit-input-placeholder{
  color: white;
}
  .event-explain{
    margin-bottom: 200px;
  }
  .open-button-white{
    margin-top: 5px;
  }
}
// フォント
body {
    font-family: -apple-system, "Hiragino Kaku Gothic ProN"
    }
