<!DOCTYPE html>
<html>
  <head>
    <title>タダでフォトジェニックな商品がもらえる「TADAGENIC」</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta charset='utf-8'>
    <meta name="description" content="TADAGENICは、タダでフォトジェニックな商品がもらえるアプリです。今秋リリースを逃さないように事前登録をしよう！" />
    <meta name="keywords" content="TADAGENIC,タダ,フォトジェニック,タダジェニック,アプリ" />
    <meta property="og:description" content= "TADAGENICは、タダでフォトジェニックな商品がもらえるアプリです。今秋リリースを逃さないように事前登録をしよう！"
    />
    <meta property="og:site_name" content= 'タダでフォトジェニックな商品がもらえる「TADAGENIC」'/>
    <meta property="og:title" content="TADAGENIC" />
    <meta property="og:url" content="http://tadagenic.com" />
    <meta name="author" content="TADAGENIC運営チーム" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=0.5,user-scalable=yes,initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "flash-message-#{key}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
